[Unit]
Description=EmailSMS
After=network.target

[Service]
ExecStart=<path to install>/EmailSMS
Type=simple
Restart=always

[Install]
WantedBy=default.target
RequiredBy=network.target
